PORT=8000
DB_URL=postgresql://postgres:postgres@localhost:5432/mobilegear
JWT_SECRET=jwt_secret
NODE_ENV=development
STRIPE_SECRET_KEY={{STRIPE_SECRET_KEY}}
REDIS_URL={{REDIS_URL}}
REDIS_ENABLED=true
REDIS_DEFAULT_TTL=3600